*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	background-color: #e5e7ea;
	font-family: Arial, Helvetica, sans-serif, sans-serif;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
	padding: 12px;
	width: 610px;
	height: 735px;
	overflow-y: auto;
	margin: 10px auto;
	background-color: white;
	box-shadow: 4px 4px 2px #a8b2c1;
	border-radius: 12px 12px 0px 0px ;
	margin-bottom: 5px;
	padding: 15px;
	display:block;

}

#space {
	float: left;
	margin-left: 0px;
	width: 500px;
	margin-bottom: 0px;
	height: 17px;
	background: none;
}


#controls {
	
	width: 610px;
	height: 60px;
	margin: 0px auto;
	border-radius: 0px 0px 12px 12px;
	background: white;
	box-shadow: 4px 4px 2px #a8b2c1;
}
  
textarea {
	border-radius: 12px;
	resize: none;
	width: 370px;
	float: left;
	height: 46px;
	padding: 6px;
	background: white;
	border: none;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 14px 5px;
	white-space: nowrap;
	overflow-x: auto;
	
}

 
#emoji {
	background:none;
	border: none;
	color: #03071e;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin: -60px 0px 0px 497px;
	font-size: 22px;
	float: left;
}

#input_speech { 
	background:none;
	border: none;
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin: -60px 0px 0px 459px;
	font-size: 22px;
	float: left;
}

#vertical_line_01{
	height: 60px;
	width: 2px;
	border-right: none;
	background: none;
	margin-left: 447px;
	top: 10px;
}


#vertical_line_02{
	height: 60px;
	width: 2px;
	border-right: solid #bcbfc4;
	background: black;
	margin-left: 545px;
	margin-top: -60px;

}


#send {
	background:none;
	border: none;
	color: #03071e;
	font-weight: bold;
	padding: 15px 25px;
	text-align: center;
	font-size: 30px;
	margin: -79px -10px 30px 0px;
	float: right;
	
}



#send:focus  {

	outline: none;

}

	
#send:hover {
	color: #6a040f;
}



textarea:focus  {
	outline: none;
}
  
div [id^="chatb"] {

	max-width: 450px;
	min-width: 310px;
	background: #a8a5a5;
	padding: 10px 20px 30px 20px;
	border-radius: 5px 50px 50px 50px;
	box-shadow: 6px 5px 7px 2px #404244;
	float: left;
	margin-bottom: 20px;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	color: black;


} 

#links {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

#links:hover {
	text-decoration: underline;
	color: black;
	font-weight: bolder;
}

div [id^="chatu"] {

	max-width: 450px;
	min-width: 310px;
	background: #afb1b1;
	padding: 20px 20px 30px 20px;
	border-radius: 50px 5px 50px 50px;
	border-width: 0.125rem;
	box-shadow: 6px 5px 7px 2px #555657;
	float: right;
	margin-bottom: 20px;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	color: black;

} 

#title {
	float: right;
	color: #370617;
	font-size: 24px;
	font-family: "Ropa Sans";
	margin-top: 7px;
	margin-bottom: 18px;
	margin-right: 305px;
}


#titleuser {

	float: left;
	color: #370617;
	font-size: 24px;
	font-family: "Ropa Sans";
	margin-top: 7px;
	margin-bottom: 30px;
	margin-right: 310px;

}


#date {
	float: left;
	margin-top: 12px;
	font-size: 12px;
	margin-left: 2px;
}

#options_button{
	background:none;
	border: none;
	color: #03071e;
	font-weight: bold;
	padding: 15px 32px;
	text-align: center;
	font-size: 30px;
	margin: -5px;
	margin-top: -3px;
	float: left;
	
	
}

#options_button:focus  {
	outline: none;
}

#options_button:hover {
	color: #6a040f;
}

#emoji_menu {
	display: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	resize: none;
	width: 186px;
	float: right;
	height: 36px;
	max-height: 76px;
	padding: 6px;
	background: white;
	border: none;
	font-size: 16px;
	box-shadow: 4px 4px 2px #a8b2c1;
	text-align: center;
	margin-right: -71px;
	margin-top: -10px;
}

#sel_emoji{
	font-size: 18px;
	border: none;
}

#options_menu {
	display: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	resize: none;
	width: 610px;
	float: left;
	height: 46px;
	max-height: 76px;
	padding: 6px;
	background: white;
	border: none;
	font-size: 16px;
	box-shadow: 4px 4px 2px #a8b2c1;
	text-align: center;
	margin-top: -30px;
}

#options_tts{
	background: white;
	padding: 5px;
	border-radius: 4px;

}
#options_link{
	background: white;
	padding: 5px;
	border-radius: 4px;
	margin-left: 5px;
}

#options_volume{
	display: none;
	background: white;
	padding: 5px;
	border-radius: 4px;
	margin-left: 80px;
	width: 60px;
	float: left;
	margin-top: -45px;
}

#pimg{
	-o-object-fit: fill;
	   object-fit: fill;
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 2px rgba(61, 61, 61, 0.527);
	height: 42px;
	width: 42px;
	float: left;
	margin-right: 15px;
	margin-bottom: 9px;
	margin-left: -5px;

}

#object {
	transform: scale(2);
	margin-top: 10px;
}

::-webkit-scrollbar {
	width: 5px;
}
  
::-webkit-scrollbar-track {
	border-radius: 10px;
	margin-top: 2px;
}
  
::-webkit-scrollbar-thumb {
	background: #03071e;
	border-radius: 10px;
}

#bot-svg{
	display: hidden;
	height: 120px;
	width: 120px;
	float: right;
	margin-right: 0px;
	margin-top: -30px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    width: 50%;
    .p {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

* {
  font-family: "Baloo Tammudu 2", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background-color: #9ea2ff;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 7.6px;
}
.container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 14px 16px;
  margin-left: 40px;
}
.container a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background-color: #ddd;
  border-radius: 30px;
}
.container input[type=text] {
  height: 60%;
  width: 250px;
  margin-left: 10px;
  font-size: 17px;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
  border-radius: 15px;
  border: none;
  margin: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}
.links a:link,
.links a:visited {
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: black;
  font-size: 20px;
  height: 280px;
  width: 500px;
  background-size: 400px;
  border-radius: 8px;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bolder;
  background-color: aqua;
}
.links a:hover {
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.links #installation {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fuwaterloo.ca%2Finformation-systems-technology-newsletter%2Fsites%2Fca.information-systems-technology-newsletter%2Ffiles%2Fuploads%2Fimages%2Fist-newsletter-banner-microsoft-teams.png&f=1&nofb=1");
}
.links #einrichtung {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.avepoint.com%2Fblog%2Fwp-content%2Fuploads%2F2019%2F09%2Fpositive-business-man-with-a-giant-pencil-on-his-shoulder-nearby-on-vector-id1000027400-1024x439.jpg&f=1&nofb=1");
}
.links #tabs {
  background-image: url("https://teams.microsoft.com/dl/launcher/images/edu.svg");
}
.links #gesucht {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fwww.sherweb.com%2Fblog%2Fwp-content%2Fuploads%2FThings-You-Should-Know-About-Microsoft-Teams-Banner.jpg%3Fssl%3D1&f=1&nofb=1");
}
.links #chatbot {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F5Ga-17AxHRQ%2Fmaxresdefault.jpg&f=1&nofb=1");
}

.active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background-color: #7678c0;
  height: 25px;
  border-radius: 15px;
  font-size: 20px;
}
.active a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 14px 16px;
  margin-left: 20px;
}
.active a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background-color: #ddd;
}

.popUp {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.popUp .controls .btn {
  background-color: #04aa6d;
  -moz-columns: white;
       columns: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.popUp .controls .btn:hover {
  opacity: 1;
}
.popUp .openButton {
  background-color: #9ea2ff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
