html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #e5e7ea;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  padding: 12px;
  width: 610px;
  height: 735px;
  overflow-y: auto;
  margin: 10px auto;
  background-color: white;
  box-shadow: 4px 4px 2px #a8b2c1;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 5px;
  padding: 15px;
  display: block;
}

#space {
  float: left;
  margin-left: 0px;
  width: 500px;
  margin-bottom: 0px;
  height: 17px;
  background: none;
}

#controls {
  width: 610px;
  height: 60px;
  margin: 0px auto;
  border-radius: 0px 0px 12px 12px;
  background: white;
  box-shadow: 4px 4px 2px #a8b2c1;
}

textarea {
  border-radius: 12px;
  resize: none;
  width: 370px;
  float: left;
  height: 46px;
  padding: 6px;
  background: white;
  border: none;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin: 14px 5px;
  white-space: nowrap;
  overflow-x: auto;
}

#emoji {
  background: none;
  border: none;
  color: #03071e;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: -60px 0px 0px 497px;
  font-size: 22px;
  float: left;
}

#input_speech {
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: -60px 0px 0px 459px;
  font-size: 22px;
  float: left;
}

#vertical_line_01 {
  height: 60px;
  width: 2px;
  border-right: none;
  background: none;
  margin-left: 447px;
  top: 10px;
}

#vertical_line_02 {
  height: 60px;
  width: 2px;
  border-right: solid #bcbfc4;
  background: black;
  margin-left: 545px;
  margin-top: -60px;
}

#send {
  background: none;
  border: none;
  color: #03071e;
  font-weight: bold;
  padding: 15px 25px;
  text-align: center;
  font-size: 30px;
  margin: -79px -10px 30px 0px;
  float: right;
}

#send:focus {
  outline: none;
}

#send:hover {
  color: #6a040f;
}

textarea:focus {
  outline: none;
}

div [id^=chatb] {
  max-width: 450px;
  min-width: 310px;
  background: #a8a5a5;
  padding: 10px 20px 30px 20px;
  border-radius: 5px 50px 50px 50px;
  box-shadow: 6px 5px 7px 2px #404244;
  float: left;
  margin-bottom: 20px;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}

#links {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

#links:hover {
  text-decoration: underline;
  color: black;
  font-weight: bolder;
}

div [id^=chatu] {
  max-width: 450px;
  min-width: 310px;
  background: #afb1b1;
  padding: 20px 20px 30px 20px;
  border-radius: 50px 5px 50px 50px;
  border-width: 0.125rem;
  box-shadow: 6px 5px 7px 2px #555657;
  float: right;
  margin-bottom: 20px;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}

#title {
  float: right;
  color: #370617;
  font-size: 24px;
  font-family: "Ropa Sans";
  margin-top: 7px;
  margin-bottom: 18px;
  margin-right: 305px;
}

#titleuser {
  float: left;
  color: #370617;
  font-size: 24px;
  font-family: "Ropa Sans";
  margin-top: 7px;
  margin-bottom: 30px;
  margin-right: 310px;
}

#date {
  float: left;
  margin-top: 12px;
  font-size: 12px;
  margin-left: 2px;
}

#options_button {
  background: none;
  border: none;
  color: #03071e;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  margin: -5px;
  margin-top: -3px;
  float: left;
}

#options_button:focus {
  outline: none;
}

#options_button:hover {
  color: #6a040f;
}

#emoji_menu {
  display: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  resize: none;
  width: 186px;
  float: right;
  height: 36px;
  max-height: 76px;
  padding: 6px;
  background: white;
  border: none;
  font-size: 16px;
  box-shadow: 4px 4px 2px #a8b2c1;
  text-align: center;
  margin-right: -71px;
  margin-top: -10px;
}

#sel_emoji {
  font-size: 18px;
  border: none;
}

#options_menu {
  display: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  resize: none;
  width: 610px;
  float: left;
  height: 46px;
  max-height: 76px;
  padding: 6px;
  background: white;
  border: none;
  font-size: 16px;
  box-shadow: 4px 4px 2px #a8b2c1;
  text-align: center;
  margin-top: -30px;
}

#options_tts {
  background: white;
  padding: 5px;
  border-radius: 4px;
}

#options_link {
  background: white;
  padding: 5px;
  border-radius: 4px;
  margin-left: 5px;
}

#options_volume {
  display: none;
  background: white;
  padding: 5px;
  border-radius: 4px;
  margin-left: 80px;
  width: 60px;
  float: left;
  margin-top: -45px;
}

#pimg {
  -o-object-fit: fill;
     object-fit: fill;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px rgba(61, 61, 61, 0.527);
  height: 42px;
  width: 42px;
  float: left;
  margin-right: 15px;
  margin-bottom: 9px;
  margin-left: -5px;
}

#object {
  transform: scale(2);
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 2px;
}

::-webkit-scrollbar-thumb {
  background: #03071e;
  border-radius: 10px;
}

#bot-svg {
  display: hidden;
  height: 120px;
  width: 120px;
  float: right;
  margin-right: 0px;
  margin-top: -30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 50%;
}
.content .par {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rebeccapurple;
  border-radius: 5%;
}
.site .Title {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site .Text {
  margin: 30px 50px 0px 50px;
  background-color: yellow;
  border-radius: 6px;
  width: 80%;
  flex-shrink: 1;
  flex-grow: 1;
}
.site .Picture {
  flex-shrink: 1;
  flex-grow: 1;
  /*background-image: url("Download.jpeg");*/
  background-size: cover;
  width: 80%;
  height: 600px;
  background-position: center;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 20px;
}
.buttons button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  bottom: 0px;
}
.buttons button:hover {
  transition: growDown 300ms ease-in-out forwards;
}

@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 600px) {
  .site {
    width: 100%;
  }
  .site .Text {
    width: 100%;
    margin: 0;
  }
  .site .Picture {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .site {
    width: 100%;
  }
  .site .Text {
    width: 100%;
    margin: 0;
  }
  .site .Picture {
    width: 100%;
    margin: 0;
  }
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 15px 0;
}
.header .container {
  max-width: 1170px;
  background-color: #282a35;
  margin: auto;
}
.header .container .header-main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-radius: 5px;
}
.header .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .container a {
  text-decoration: none;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: rebeccapurple;
  font-weight: 600;
}
.header .nav-menu {
  padding: 0px 15px;
}
.header .menu > .menu-item {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  border-radius: 8px;
}
.header .menu > .menu-item :hover {
  color: rebeccapurple;
  background-color: none;
  background-color: #282a35;
  border-radius: 10px;
  transform: scale(1.1);
}
.header .menu > .menu-item > a {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 10px 0;
  border-top: 3px solid rebeccapurple;
  transition: all 300ms ease-in-out;
  /* > .menu-item {
      display: block;
  }
  > .menu-item > a {
      display: block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      color: black;
      transition: all 300ms ease-in-out;
      text-transform: capitalize;
  } */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 400;
  background-color: whitesmoke;
  line-height: 1.5;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo h1 {
  margin: 60px 0px 0px 0px;
  align-items: center;
}
.logo img {
  width: 500px;
  height: 200px;
}

/* .navigation {
    width: 100%;
    height: 60px;
    background-color: #282a35;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .menu-bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .menu-link {
            list-style: none;
            //float: left;
            position: relative;

            &:hover .sub-bar {
                display: block;
            }
            @keyframes growDown {
                0% {
                    transform: scaleY(0);
                }
                80% {
                    transform: scaleY(1.1);
                }
                100% {
                    transform: scaleY(1);
                }
            }
            a {
                display: block;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                color: white;

                &:hover {
                    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
                        0 17px 50px 0 rgba(0, 0, 0, 0.19);
                    color: black;
                    background-color: rgb(194, 191, 191);
                    border-radius: 6px;
                }
            }

            .sub-bar {
                display: none;
                position: absolute;
                background-color: #282a35;
                width: 100px;
                padding: 5px;
                border-radius: 0px 0px 7px 7px;

                .sub-link {
                    width: 100px;
                    list-style-type: none;
                }
                a {
                    padding: 12px 14px;

                    &:hover {
                        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
                            0 17px 50px 0 rgba(0, 0, 0, 0.19);
                        color: black;
                        background-color: rgb(194, 191, 191);
                    }
                }
            }
        }
    }
} */
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.burger {
  display: none;
}
.burger .line {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 50px;
}
.links a:link,
.links a:visited {
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 2;
  color: black;
  font-size: 25px;
  text-shadow: 1px 2px 1px white;
  height: 280px;
  width: 500px;
  background-size: 400px;
  border-radius: 6px;
  margin: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bolder;
  background-color: rgba(0, 255, 255, 0.021);
}
.links a:hover {
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.links #installation {
  background-image: url(/images/install.png?638552576e6146240020ac4f4909c762);
}
.links #tabs {
  background-image: url(/images/tabs.svg?64c00efa188b7e41c131397e8b8f394b);
}
.links #chatbot {
  background-image: url(/images/chatbot.jpeg?46e363f7446ec1919360d5db6ab7e050);
}

.headings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.narrow-links {
  display: none;
}

@media screen and (max-width: 1590px) {
  .narrow-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wide-links {
    display: none;
  }

  .headings {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .navigation {
    width: 100%;
    justify-content: flex-end;
  }
  .navigation .menu-bar {
    position: absolute;
    right: 0px;
    height: 50%;
    top: 60px;
    background-color: #282a35;
    display: none;
    flex-direction: column;
    width: 100%;
    transition: transform 0.5s ease-in;
  }
  .navigation .menu-bar .menu-link:hover .sub-bar {
    display: none;
  }

  .burger {
    display: block;
    margin-right: 80px;
    cursor: pointer;
  }

  .links {
    margin-top: 10px;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
  }
  .links a:link,
.links a:visited {
    flex-shrink: 2;
    width: 500px;
    height: 260px;
  }
}
.menu-bar.active {
  display: flex;
}

.navigation.active {
  justify-content: center;
  align-items: center;
}
.navigation.active .burger {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .links {
    margin: 15px 0px;
    justify-content: center;
    align-items: center;
  }
  .links a:link,
.links a:visited {
    flex-shrink: 2;
    width: 500px;
    height: 240px;
    margin: 4px;
  }

  .burger {
    margin-right: 10px;
  }
}
