.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        font-weight: 600;
    }
    .content {
        font-weight: 400;
        width: 90ch;
    }
    .creators {
        font-weight: 400;
    }
}
