.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        font-weight: 600;
        padding: 5rem;
    }
    .content {
        font-weight: 400;
        width: 120ch;
    }
    .creators {
        font-weight: 400;
    }
}
