$teams_purple: #7a81e7;
$teams_purple_dark: #4a51be;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    .container {
        width: 1370px;
        max-width: 1370px;
        margin-top: 10px;
        .header-main {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0 0 0;
            border-radius: 5px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
    }
    .logo {
        padding: 0 15px;
        &:hover {
            translate: scale(1.1);
        }
    }
    .logo a {
        font-size: 30px;
        text-transform: capitalize;
        color: $teams_purple;
        font-weight: 600;
    }
    .nav-menu {
        padding: 0px 15px;
    }
    .menu > .menu-item {
        display: inline-block;
        margin-left: 40px;
        position: relative;
        border-radius: 4px;
        transition: all 300ms ease-in-out;
        &:hover {
            color: white;
            background-color: none;
            background-color: $teams_purple_dark;
            border-radius: 10px;
            transform: scale(1.05);
        }
        > a {
            display: block;
            padding: 10px 15px;
            font-size: 20px;
            color: black;
            text-transform: capitalize;
            font-weight: 500;
            transition: all 300ms ease-in-out;

            border-radius: 5px;
        }
        > a .plus {
            display: inline-block;
            height: 12px;
            width: 12px;
            position: relative;
        }
        > a .plus:before,
        > a .plus:after {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: 50%;
            top: 50%;
            background-color: black;
            height: 2px;
            width: 100%;
            transform: translate(-50%, -50%);
        }
        > a .plus:after {
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }
    .menu > .menu-item > .sub-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 220px;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: white;
        border-radius: 15px;
        padding: 10px 0;
        border-top: 4px solid $teams_purple;
        transform: translateY(-20px);
        //transform: rotate(-180deg);
        transition: all 300ms ease-in-out;
        opacity: 0;
        visibility: hidden;
        > .menu-item {
            display: block;
            transition: all 100ms ease-in-out;
        }
        > .menu-item > a {
            display: block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            color: black;
            text-transform: capitalize;
        }
        :hover {
            border-radius: 15px;
            transform: scale(1.05) translateX(10px);
        }
    }
    @media (min-width: 992px) {
        .menu > .menu-item-with-children:hover > .sub-menu {
            transform: translateY(0);
            //transform: rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}
