.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 15px 0;
    .container {
        max-width: 1170px;
        background-color: #282a35;
        margin: auto;
        .header-main {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
            border-radius: 5px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
    }
    .logo {
        padding: 0 15px;
    }
    .logo a {
        font-size: 30px;
        text-transform: capitalize;
        color: rebeccapurple;
        font-weight: 600;
    }
    .nav-menu {
        padding: 0px 15px;
    }
    .menu > .menu-item {
        display: inline-block;
        margin-left: 40px;
        position: relative;
        border-radius: 8px;
        :hover {
            color: rebeccapurple;
            background-color: none;
            background-color: #282a35;
            border-radius: 10px;
            transform: scale(1.1);
        }
        > a {
            display: block;
            padding: 10px 15px;
            font-size: 16px;
            //color: #000000;
            text-transform: capitalize;
            font-weight: 500;
            transition: all 300ms ease-in-out;
        }
        > .sub-menu {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 220px;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: white;
            border-radius: 15px;
            padding: 10px 0;
            border-top: 3px solid rebeccapurple;
            transition: all 300ms ease-in-out;
            /* > .menu-item {
                display: block;
            }
            > .menu-item > a {
                display: block;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 600;
                color: black;
                transition: all 300ms ease-in-out;
                text-transform: capitalize;
            } */
        }
    }
    .menu > .menu-item > a {
    }
}
