$teams_purple: #7a81e7;
$teams_purple_dark: #4a51be;
$teams_purple_button: #a3a8e7;
.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    margin: 40px 0 0 0;
    padding-top: 50px;
    position: fixed;
    left: 25%;
    z-index: 30;
    .title {
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(75, 75, 75);
        border-radius: 5px;
        color: white;
    }

    .texts {
        min-height: 130px;
        width: 50ch;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 40px 40px 40px 40px;
        margin-top: 30px;
        font-size: 20px;
        .text {
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 50px 0px 50px;
            border-radius: 6px;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }
    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-shrink: 1;
        flex-grow: 1;
        background-size: cover;
        width: 50%;
        background-position: center;
        border-radius: 6px;
        img {
            margin-bottom: 80px;
            max-width: 400px;
            transition: all 400ms ease-in-out;
            transform: translateY(40px);

            &:hover {
                transform: translateY(-350px);
                max-width: 1300px;
            }
        }
    }
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    position: relative;
    top: 750px;
    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: none;
        padding: 30px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        bottom: 0px;

        border-radius: 25px;
        background: linear-gradient(225deg, #f0f0f0, #cacaca);

        transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
            z-index: 20;
            transform: scale(1.03);
        }
        &:active {
            transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    #left {
        margin-right: 2rem;
        box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
        &:hover {
            box-shadow: -37px 37px 74px #bebebe, 37px -37px 74px #ffffff;
        }
        &:active {
            box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
        }
    }
    #right {
        margin-left: 2rem;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        &:hover {
            box-shadow: 37px 37px 74px #bebebe, -37px -37px 74px #ffffff;
        }
        &:active {
            box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
        }
    }
}
