$teams_purple: #7a81e7;
$teams_purple_dark: #4a51be;
$teams_purple_button: #a3a8e7;
.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    margin: 40px 0 0 0;
    padding-top: 50px;
    position: fixed;
    left: 25%;
    z-index: 30;
    .title {
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(75, 75, 75);
        border-radius: 5px;
        color: white;
    }

    .texts {
        min-height: 130px;
        width: 50ch;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 40px 40px 40px 40px;
        margin-top: 30px;
        font-size: 20px;
        .text {
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 50px 0px 50px;
            border-radius: 6px;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }
    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-shrink: 1;
        flex-grow: 1;
        background-size: cover;
        width: 50%;
        background-position: center;
        border-radius: 6px;
        img {
            margin-bottom: 80px;
            max-width: 400px;
            transition: all 400ms ease-in-out;
            transform: translateY(40px);

            &:hover {
                transform: translateY(-350px);
                max-width: 1300px;
            }
        }
    }
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    position: relative;
    top: 750px;
    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        //background-color: $teams_purple_dark;
        border: none;
        //color: white;
        padding: 15px 38px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        bottom: 0px;
        transition: all 80ms ease-in-out;
        &:hover {
            z-index: 20;
            transform: scale(1.03);
        }
    }
    /*     #left {
        margin-right: 1rem;
        border-radius: 50px;
        background: linear-gradient(225deg, #e6e6e6, #ffffff);
        box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
        &:hover {
            border-radius: 50px;
            background: linear-gradient(225deg, #e6e6e6, #ffffff);
            box-shadow: -20px 20px 60px #808080, 20px -20px 60px #ffffff;
        }
        &:active {
            border-radius: 50px;
            background: linear-gradient(225deg, #e6e6e6, #ffffff);
            box-shadow: -20px 20px 60px #f7f7f7, 20px -20px 60px #ffffff;
        }
    }
    #right {
        margin-left: 1rem;
        border-radius: 50px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        &:hover {
            border-radius: 50px;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow: 20px 20px 60px #808080, -20px -20px 60px #ffffff;
        }
        &:active {
            border-radius: 50px;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow: 20px 20px 60px #f7f7f7, -20px -20px 60px #ffffff;
        }
    } */
    #left {
        margin-left: 1rem;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: $teams_purple_button;
        -webkit-box-shadow: 12px 12px 24px #b2b8c9,
            -12px -12px 24px $teams_purple_button;
        box-shadow: 12px 12px 24px #b2b8c9,
            -12px -12px 24px $teams_purple_button;
        &:hover {
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: linear-gradient(225deg, #ffffff, $teams_purple_button);
            -webkit-box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
            box-shadow: -20px 20px 60px #bababa,
                20px -20px 60px $teams_purple_button;
        }
        &:active {
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: linear-gradient(225deg, #ffffff, $teams_purple_button);
            -webkit-box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
            box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
        }
    }
    #right {
        margin-left: 1rem;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: $teams_purple_button;
        -webkit-box-shadow: 12px 12px 24px #b2b8c9,
            -12px -12px 24px $teams_purple_button;
        box-shadow: 12px 12px 24px #b2b8c9,
            -12px -12px 24px $teams_purple_button;
        &:hover {
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: linear-gradient(225deg, #ffffff, $teams_purple_button);
            -webkit-box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
            box-shadow: -20px 20px 60px #bababa,
                20px -20px 60px $teams_purple_button;
        }
        &:active {
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: linear-gradient(225deg, #ffffff, $teams_purple_button);
            -webkit-box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
            box-shadow: 5px 5px 10px #b2b8c9,
                -5px -5px 10px $teams_purple_button;
        }
    }
}
