$teams_Purple: #9ea2ff;
$teams_Purple_active: #7678c0;
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    width: 50%;
    .p {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
