@import "_bot";
@import "_about";
@import "_tabs";
@import "_header";
$teams_purple: #7a81e7;
$teams_purple_dark: #4a51be;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    background-color: white;
    line-height: 1;
}
// Logo auf Index ( Home )
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object {
        width: 600px;
        height: 300px;
        margin-top: 50px;
    }
}
.burger {
    display: none;

    .line {
        width: 25px;
        height: 5px;
        background-color: white;
        margin: 5px;
    }
}

//              Header Fertig

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 50px;
    a:link,
    a:visited {
        display: flex;
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 2;
        color: black;
        font-size: 25px;
        text-shadow: 1px 2px 1px rgb(255, 255, 255);
        height: 280px;
        width: 500px;
        background-size: 400px;
        border-radius: 6px;
        margin: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        background-color: $teams_purple;
        transition: all 300ms ease-in-out;
    }
    a:hover {
        transform: scale(1.05);
    }

    #installation {
        background-image: url("../../public/data/install.png");
        transition: all 300ms ease-in-out;
        &:hover {
            z-index: 100;
            transform: scale(1.1);
        }
    }

    #tabs {
        background-image: url("../../public/data/tabs.svg");
        transition: all 300ms ease-in-out;
        &:hover {
            z-index: 100;
            transform: scale(1.2);
        }
    }

    #chatbot {
        box-shadow: none;
        background-image: url("../../public/data/chatbot.jpeg");
        transition: all 300ms ease-in-out;
        &:hover {
            z-index: 100;
            transform: scale(1.1);
        }
    }
}
.headings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.narrow-links {
    display: none;
}

@media screen and (max-width: 1590px) {
    .narrow-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wide-links {
        display: none;
    }
    .headings {
        display: none;
    }
}

//          Main Fertig

@media screen and (max-width: 700px) {
    .navigation {
        width: 100%;
        .menu-bar {
            position: absolute;
            right: 0px;
            height: 50%;
            top: 60px;
            background-color: #282a35;
            display: none;
            flex-direction: column;
            width: 100%;
            //transform: translateX(100%);
            transition: transform 0.5s ease-in;

            .menu-link:hover .sub-bar {
                display: none;
            }
        }
        justify-content: flex-end;
    }

    .burger {
        display: block;
        margin-right: 80px;
        cursor: pointer;
    }

    .links {
        margin-top: 10px;
        margin: 40px 0px;
        justify-content: center;
        align-items: center;

        a:link,
        a:visited {
            flex-shrink: 2;
            width: 500px;
            height: 260px;
        }
    }
}
.menu-bar.active {
    //transform: translateX(0%);
    display: flex;
}
.navigation.active {
    justify-content: center;
    align-items: center;

    .burger {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .links {
        margin: 15px 0px;
        justify-content: center;
        align-items: center;

        a:link,
        a:visited {
            flex-shrink: 2;
            width: 500px;
            height: 240px;
            margin: 4px;
        }
    }

    .burger {
        margin-right: 10px;
    }
}
.no-flickr {
    transform: translateZ(0);
}
