@import "_bot";
@import "_about";
@import "_tabs";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Baloo Tammudu 2", cursive;
    //background-color: lightgray;
    background-color: whitesmoke;
}
// Logo auf Index ( Home )
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 60px 0px 0px 0px;
        align-items: center;
    }
    img {
        width: 500px;
        height: 200px;
    }
}

.navigation {
    /* position: fixed;
    top: 0; */
    width: 100%;
    height: 60px;
    background-color: #282a35;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .menu-bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .menu-link {
            list-style: none;
            //float: left;
            position: relative;

            &:hover .sub-bar {
                display: block;
            }
            @keyframes growDown {
                0% {
                    transform: scaleY(0);
                }
                80% {
                    transform: scaleY(1.1);
                }
                100% {
                    transform: scaleY(1);
                }
            }
            a {
                display: block;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                color: white;

                &:hover {
                    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
                        0 17px 50px 0 rgba(0, 0, 0, 0.19);
                    color: black;
                    background-color: rgb(194, 191, 191);
                    border-radius: 6px;
                }
            }

            .sub-bar {
                display: none;
                position: absolute;
                background-color: #282a35;
                width: 100px;
                padding: 5px;
                border-radius: 0px 0px 7px 7px;

                .sub-link {
                    width: 100px;
                    list-style-type: none;
                }
                a {
                    padding: 12px 14px;

                    &:hover {
                        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
                            0 17px 50px 0 rgba(0, 0, 0, 0.19);
                        color: black;
                        background-color: rgb(194, 191, 191);
                    }
                }
            }
        }
    }
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
.burger {
    display: none;

    .line {
        width: 25px;
        height: 5px;
        background-color: white;
        margin: 5px;
    }
}

//              Header Fertig

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 50px;

    a:link,
    a:visited {
        display: flex;
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 2;
        color: black;
        font-size: 25px;
        text-shadow: 1px 2px 1px rgb(255, 255, 255);
        height: 280px;
        width: 500px;
        background-size: 400px;
        border-radius: 6px;
        margin: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        background-color: rgba(0, 255, 255, 0.021);
    }
    a:hover {
        opacity: 0.8;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    #installation {
        background-image: url("../../public/data/install.png");
    }

    #tabs {
        background-image: url("../../public/data/tabs.svg");
    }

    #chatbot {
        background-image: url("../../public/data/chatbot.jpeg");
    }
}
.headings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.narrow-links {
    display: none;
}

@media screen and (max-width: 1590px) {
    .narrow-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wide-links {
        display: none;
    }
    .headings {
        display: none;
    }
}

//          Main Fertig

@media screen and (max-width: 700px) {
    .navigation {
        width: 100%;
        .menu-bar {
            position: absolute;
            right: 0px;
            height: 50%;
            top: 60px;
            background-color: #282a35;
            display: none;
            flex-direction: column;
            width: 100%;
            //transform: translateX(100%);
            transition: transform 0.5s ease-in;

            .menu-link:hover .sub-bar {
                display: none;
            }
        }
        justify-content: flex-end;
    }

    .burger {
        display: block;
        margin-right: 80px;
        cursor: pointer;
    }

    .links {
        margin-top: 10px;
        margin: 40px 0px;
        justify-content: center;
        align-items: center;

        a:link,
        a:visited {
            flex-shrink: 2;
            width: 500px;
            height: 260px;
        }
    }
}
.menu-bar.active {
    //transform: translateX(0%);
    display: flex;
}
.navigation.active {
    justify-content: center;
    align-items: center;

    .burger {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .links {
        margin: 15px 0px;
        justify-content: center;
        align-items: center;

        a:link,
        a:visited {
            flex-shrink: 2;
            width: 500px;
            height: 240px;
            margin: 4px;
        }
    }

    .burger {
        margin-right: 10px;
    }
}
