<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
	<a href="main.html">Home</a>
	<a href="#">Installation</a>
	<a href="#">Einrichtung</a>
	<a href="tabs.html">Tabs</a>
	<input type="text" placeholder="Suche..">
</div>

<div class="links">
	<a href="probe.html" id="installation">Installation</a>
	<a href="probe.html" id="einrichtung">Einrichtung</a>
	<a href="tabs.html" id="tabs">Tabs</a>
	<a href="probe.html" id="gesucht">Meist gesucht</a>
	<a href="probe.html" id="chatbot">Chatbot</a>
</div>


</body>
</html>